
.main-container{
  height: 100%;
  width: 100%;
  background-color: lightgrey;
  display: flex;
}

.side-banner{
  border: solid 1px red;
  height: 100%;
  width: 25%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cedarville Cursive', cursive;
  background-image: url("repeating-trees-background.png");
  background-repeat: no-repeat;
  background-size: cover;

}

.side-banner-title{
  height: 100%;
  border-style: dotted;
  border-radius: 75px;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  opacity: .6;
}

.header-line1{
  /* margin: 10px; */
  font-size: 30px;
}

.header-line2{
  /* margin: 10px; */
  font-size: 30px;
}

.header-line3{
  /* margin: 10px; */
  font-size: 30px;
}

.header-line4{
  /* margin: 10px; */
  font-size: 30px;
}

.header-line5{
  /* margin: 10px; */
  font-size: 30px;
}

.header-line6{
  /* margin: 10px; */
  font-size: 30px;
}

.content-container{
  border: solid 1px blue;
  height: auto;
  width: 75%;
}


