.mainContainer{
  background-color: blue;
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.picture{
  grid-column: 1;
  max-width: 10px;
  max-height: 50px;
}

.img{
  overflow: clip;
  overflow-clip-margin: 0px;

}

.name{
  grid-column-start: 2;
  grid-column-end: 3;

}
.professionHistory{
  grid-row-start: 4;
  grid-row-end: span 3;
  grid-column-start: 2;
}

.educationHistory{
  grid-row-start: 7;
  grid-row-end: span 2;
}